<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viewsample.viewsample">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".applications.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ActivityClock" />
        <activity android:name=".activitys.ActivityImageWithTxt" />
        <activity android:name=".activitys.ActivityProgress" />
        <activity android:name=".activitys.ActivitySound" />
        <activity android:name=".activitys.ActivityLock" />
        <activity android:name=".activitys.ActivitySideSlip" />
        <activity android:name=".activitys.ActivityLinear" />
        <activity android:name=".activitys.ActivityTimeTable" />
        <activity android:name=".activitys.ActivityListViewSpinner" />
        <activity android:name=".activitys.ActivityLoadMore" />
        <activity android:name=".activitys.ActivityProgressButton" />
        <activity android:name=".activitys.ActivityFadingTextView" />
        <activity
            android:name=".activitys.ActivityTencentX5WebView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activitys.ActivityWeChatSmallVideo2"
            android:theme="@style/WeChatActivityVideoTheme" />
        <activity
            android:name=".activitys.ActivityWeChatSmallVideo"
            android:theme="@style/WeChatActivityVideoTheme" />
        <activity
            android:name=".activitys.ActivityTest"
            android:theme="@style/AppTheme.NoActionBar.ActivityTranslucent"
            />
    </application>

</manifest>